<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Maki Cattery</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Poppins:wght@400;500;600;700&family=Volkhov:wght@700&family=Kanit&family=Noto+Sans+Thai&family=Sarabun:wght@200;400;600&display=swap" rel="stylesheet">
</head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/" id="maki-cattery"><img src="./assets/maki-logo.png" id="logo" alt="logo">Maki Cattery</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/admin">Admin</a>
              </li>
              
              <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
              </li>
          </ul>
      </div>
      </div>
  </nav>
  <hr/>
    

    <div class="container">
      <div class="container-1">
        <h2 class="text-center mt-2 mb-3">เพิ่มแมว</h2>
        <form action="/addcat" method="POST" enctype="multipart/form-data">
          <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6 col-lg-6 d-flex flex-column align-items-center justify-content-center">
              <div class="image-preview" id="imagePreview">
                <img src="" alt="Image Preview" class="image-preview__image" />
                <span class="image-preview__default-text">Image Preview</span>
              </div>
              <input
                type="file"
                name="sampleFile"
                id="sampleFile"
                accept="image/*"
                required
              /><br />
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 d-flex flex-column gap-0">
                    <label for="name">Name </label>
                    <input class="form-control" type="text" id="name" name="name" required/>
                    <label for="breed" class="mt-2">Breed </label>
                    <input class="form-control" type="text" id="breed" name="breed" required/>
                    <label for="dob" class="mt-2">DOB</label>
                    <input class="form-control" type="text" id="age" name="age" required/>
                    <label for="color" class="mt-2">Color</label>
                    <input class="form-control" type="text" id="color" name="color" required/>
                    <label for="price" class="mt-2" >Price</label>
                    <input class="form-control" type="text" id="price" name="price" required/>
                    <div class="row">
                      
                      <div class="col-6">
                        <label for="gender" class="mt-2 mb-1">Gender</label>
                        <div class="form-check">
                          <input type="radio" id="male" name="gender" value="male" required/>
                          <label for="css">Male</label>
                        </div>
                        <div class="form-check">
                          <input type="radio" id="female" name="gender" value="female" />
                          <label for="html">Female</label><Br>
                        </div>
                      </div>
  
                      <div class="col-6">
                      <label class="mt-2 mb-1" for="status" id="status">Status</label>

                        <div class="form-check">
                          <input type="radio" id="available" name="status" value=1 required />
                          <label for="available">ว่าง</label>  
                        </div>
                        <div class="form-check">
                          <input type="radio" id="notavalible" name="status" value=0 />
                          <label for="notavalible">ติดจอง</label>
                        </div>
                      </div>

                    </div>
            </div>
          </div>
          <div class="flex">
            <input type="submit" class="btn btn-success form-control mt-4">
          </div>
        </form>
      </div>
      <br/>
      <hr/>
      <div class="showcase-row">
        <% for(var c of cats) { %>
        <div class="my-col">
          <a href="/admin-content/<%=c.id%>">
            <div class="card">
              <img src="assets/catlists/<%=c.image%>" class="card-img-top" alt="cat1">
              <div class="card-body">
                  <div class="d-flex justify-content-between">
                      <p class="text-start"><%=c.name%></p>
                      <span class="text-end"><%=c.age%></span>
                  </div>
                  <div class="d-flex gap-2 mt-2 align-items-center justify-content-between">
                      <div class="d-flex gap-2 mt-2 align-items-center">
                          <% if (c.gender.toLowerCase() === "male") {%>
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gender-male" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M9.5 2a.5.5 0 0 1 0-1h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.707L9.871 6.836a5 5 0 1 1-.707-.707L13.293 2zM6 6a4 4 0 1 0 0 8 4 4 0 0 0 0-8"/>
                              </svg>          
                          <% } else { %>
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gender-female" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M8 1a4 4 0 1 0 0 8 4 4 0 0 0 0-8M3 5a5 5 0 1 1 5.5 4.975V12h2a.5.5 0 0 1 0 1h-2v2.5a.5.5 0 0 1-1 0V13h-2a.5.5 0 0 1 0-1h2V9.975A5 5 0 0 1 3 5"/>
                                </svg>
                          <% } %>
                          <p class="text-start"><%=c.breed%></p>
                      </div>
                      <div class="d-flex gap-2 mt-2 align-items-center">
                          <% if (c.status === 1) {%>
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash" viewBox="0 0 16 16">
                                  <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                                  <path d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2z"/>
                                </svg>
                              <p class="text-start"><%= c.price %></p>
                            <% } else { %>
                              <p style="color: #F95454;"  class="text-start">SOLD OUT</p>
                            <% } %>
                         
                      </div>
                  </div>
              </div>
          </div>
          </a>
          <div class="update">
            <button name="id" class="btn btn-primary form-control" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%=c.id%>">แก้ไขข้อมูล</button>
            <form action="/deletecat" method="POST">
              <button class="btn btn-danger" name="id" value="<%=c.id%>" type="submit">Delete</button>
            </form>
          </div>
         
          
          <div class="modal fade" id="staticBackdrop<%=c.id%>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">แก้ไขข้อมูล (<%=c.id%>)</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
              <form action="/updatecats" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                  <div class="col1">
                    <div> 
                      <label for="name">Name </label>
                      <input class="form-control mt-1" type="name" id="name" name="name" value="<%=c.name%>">
                    </div>
                    <div> 
                      <label for="age" class="mt-2">Age</label>
                      <input class="form-control mt-1" type="text" id="age" name="age" value="<%=c.age%>">
                    </div>
                    <div> 
                      <label for="color" class="mt-2">Color</label>
                      <input class="form-control mt-1" type="text" id="color" name="color" value="<%=c.color%>">
                    </div>
                    <div> 
                      <label for="price" class="mt-2">Price</label>
                      <input class="form-control mt-1" type="text" id="price" name="price" value="<%=c.price%>">
                    </div>
                    <div> 
                      <label for="gender" class="mt-2">Gender :</label>
                      <%if (c.gender.toLowerCase()==="male") {%>
                        <div class="form-check">
                          <input type="radio" id="male" name="gender" value="male" checked/>
                          <label for="male">Male</label>
                        </div>
                        <div class="form-check">
                          <input type="radio" id="female" name="gender" value="female" />
                          <label for="female">Female</label>
                        </div>
                      <% }else{ %>
                        <div class="form-check">
                          <input type="radio" id="male" name="gender" value="male"/>
                          <label for="male">Male</label>
                        </div>
                        <div class="form-check">
                          <input type="radio" id="female" name="gender" value="female" checked/>
                          <label for="female">Female</label>
                        </div>
                      <% } %>
                    </div>
                    <div>
                      <label for="status" id="status">Status :</label>
                      <%if (c.status === 1) {%>
                        <div class="form-check">
                          <input type="radio" id="available" name="status" value=1 checked />
                          <label for="available">ว่าง</label>  
                        </div>
                        <div class="form-check">
                          <input type="radio" id="notavalible" name="status" value=0 />
                          <label for="notavalible">ติดจอง</label>
                        </div>
                      <% }else{ %>
                        <div class="form-check">
                          <input type="radio" id="available" name="status" value=1/>
                          <label for="available">ว่าง</label>  
                        </div>
                        <div class="form-check">
                          <input type="radio" id="notavalible" name="status" value=0 checked/>
                          <label for="notavalible">ติดจอง</label>
                        </div>
                      <% } %>
                    </div>
                    <div class="mt-2">
                      <label for="status" id="status" class="mt-2">เปลี่ยนรูป </label>
                      <span class="mb-0" style="color: red;">*หากไม่เปลี่ยนรูปไม่ต้องเลือก</span>
                      <input
                      class="mt-1"
                        type="file"
                        name="sampleFile"
                        id="sampleFile"
                        accept="image/*"
                      /><br />
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary" name="id" value="<%=c.id%>">Confirm</button>
                </div>
              </form>
              </div>
            </div>
          </div>
        </div>
        <% } %>
       
        
      </div>
    </div>
    <script>
      const inpFile = document.getElementById("sampleFile");
      const previewContainer = document.getElementById("imagePreview");
      const previewImage = previewContainer.querySelector(
        ".image-preview__image"
      );
      const previewDefaultText = previewContainer.querySelector(
        ".image-preview__default-text"
      );

      inpFile.addEventListener("change", function () {
        const file = this.files[0];

        if (file) {
          const reader = new FileReader();

          previewDefaultText.style.display = "none";
          previewImage.style.display = "block";

          reader.addEventListener("load", function () {
            previewImage.setAttribute("src", this.result);
          });

          reader.readAsDataURL(file);
        } else {
          previewDefaultText.style.display = null;
          previewImage.style.display = null;
          previewImage.setAttribute("src", "");
        }
      });
    </script>


    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
